:javascript
  |  $(document).ready(function() {
  |  
  |     DUBBE.form.create({
  |         name: "testar",
  |         parent: "testar",
  |         fields: [{
  |             name: "input",
  |             type: "text"
  |             
  |         }
  |         ],
  |         submit: function(p) {
  |             console.log("skickar") ;
  |         }
  |     }) ;
  |  
  |  });
  
#testar