- if (session.userid) 
  #menuBar
    #menu
    #projects
      ul#projectsMenu
        li 
          p Projekt
          ul#projectBar
div.clr
#tasks
  #tasksStart
  #users
    #currentUser
    div.clr
    #otherMembers
    div.clr
  #tasksEnd
    #done
    div.clr
    #delete
    div.clr
  div.clr