- if (session.userid) 
  #menuBar
    #menu
    #projects
      ul#projectsMenu
        li 
          p Projekt
          ul#projectBar
div.clr
#tasks
  #tasksStart
  #users
    #currentUser
    div.clr
    #otherMembers
    div.clr
  #tasksEnd
    #done
    div.clr
    #delete
    div.clr
  div.clr
  
#footer
  div
    h3 Allmänna kommandon
    p  ctrl+alt+1: Skapa projekt
    p  ctrl+alt+2: Skapa task
    p  ctrl+alt+3: Lägg till användare
    p  ctrl+alt+4: Välj projekt
    p  ctrl+alt+n: Välj nästa task
  
  
  div
    h3  När task är vald
    p  e: Editera task
    p  d: Lägg i färdiga
    p  t: Lägg task på sig själv
    p  u: Lägg task på någon annan
    p  o: Lägg task i otilldelat
    p  x: Ta bort task
div.clr
  
  