!!! 5
html
  head
    title= "d-Do"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/dubbe-style.css')
       
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js')
    script(type='text/javascript', src='/javascripts/dubbe.js')
    script(type='text/javascript', src='/javascripts/script.js') 
    
  body
  #container
    #header
      #login
        - if (session.userid)
          p.login Du är inloggad som #{user.name} med #{user.latestLoginType}
        - else
          a(href: '/auth/facebook').login Logga in med Facebook
      h1= "d-Do"
    div.clr


    
    
    != body