.popUp {
    position: absolute;
    padding: 20px;
    text-align: left;
    /*color is up to you, overlay png gives button a gradient*/
    /*style the cursor and text of the button*/
    color: #fff;
    text-decoration: none;
    line-height: 1;
    border: 1px solid #333;
    /*add rounded corners in mozilla and webkit*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    /*Add box shadows and a bottom border with rgba colors*/
    background: rgba(51, 51, 51, 1);
    background: -moz-linear-gradient(top, rgba(77,77,77, 1), rgba(66,66,66, 1));
    background: -webkit-gradient( linear, left top, left bottom, from( rgba(77,77,77, 1) ), to( rgba(66,66,66, 1) ) );
    background: linear-gradient(top, rgba(77,77,77, 1), rgba(66,66,66, .1));
    
    -moz-box-shadow: 0 0 10px rgba(0,0,0,1);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,1);
     
     
}
.popUp h2 {
    color: #fff ;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}
.popUp p, .popUp form {
    display: block ;
    color: #fff ;
    text-align: left ;
    font-size: 12px;
    margin: 10px 10px 10px 10px;
    line-height: 1.5;
}
.popUpBg {
    top:0px ;
    left:0px ;
    position: absolute ;
    background: rgba(0,0,0,0.5) ;
}
.dubbeButton, .dropDown li {
     /*color is up to you, overlay png gives button a gradient*/
     background: #333 url(alert-overlay.png) repeat-x;

     /*set up the layout just right*/
     display: inline-block;
     padding: 7px 15px 8px;
     position: relative;
     margin: 5px 5px ;

     /*style the cursor and text of the button*/
     color: #fff;
     text-decoration: none;
     line-height: 1;
     cursor: pointer;

     /*add rounded corners in mozilla and webkit*/
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;

     /*Add box shadows and a bottom border with rgba colors*/
     -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
     -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
     text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
     border-bottom: 1px solid rgba(0,0,0,0.25);
     
     color: #fff ;
     font-size: 10px ;
     font-weight: bold ;
     text-decoration: none ;
     
}
.dubbeButton:hover, .dropDown li:hover {
     top: 1px ;
     -moz-box-shadow: 0 1px 1px rgba(0,0,0,0);
     -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0);
}
.buttonLink {
    text-decoration: none ;
    border: 0px ;
}
.buttonContainer {
}
.buttonContainerLeft {
    float:left ;
}
.buttonConatinerRight {
    float:right ;
}
/**
 * Form
 */
form ul li, form ul {
    list-style-type: none ;
    margin: 0px ;
    padding: 0px ;
}
form ul li img {
    margin-right: 10px ;
}
form ul li p.errorP {
    
    display: inline-block ;
    padding: 0px ;
    margin: 0px 0px 5px 0px ;
    color: #fff ;

}
label {
    color: #fff ;
    font-size: 10px ;
    font-weight: bold ;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    display:block ;
    text-align: left ;
}

input, textarea, select {

    width: 200px ;
    
    display: inline-block;
    padding: 7px 15px 8px;
    position: relative;
    margin: 5px ;
    
    border: 1px solid #aaa ;
    
    font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
    
    color: #000;
    text-decoration: none;
    line-height: 1;
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
    background: rgba(255,255,255, 1);
    
    background: -moz-linear-gradient(top, rgba(230,230,230, 1), rgba(255,255,255, 1));
    background: -webkit-gradient( linear, left top, left bottom, from( rgba(230,230,230, 1) ), to( rgba(255,255,255, 1) ) );
    background: linear-gradient(top, rgba(230,230,230, 1), rgba(255,255,255, 1));
    
    -moz-box-shadow:inset 3px 3px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow:inset 3px 3px 3px rgba(0, 0, 0, 0.2);
    box-shadow:inset 3px 3px 3px rgba(0, 0, 0, 0.2);
    
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}
textarea {
    height: 120px ;
}
option {
}
input:focus, textarea:focus {
    outline: none ;
}
input.error, textarea.error, select.error {
    -moz-box-shadow:inset 3px 3px 3px rgba(0, 0, 0, 0.2) , 0px 0px 10px rgba(255, 0, 0, 1) ;
    -webkit-box-shadow:inset 3px 3px 3px rgba(0, 0, 0, 0.2) , 0px 0px 10px rgba(255, 0, 0, 1) ;;
    box-shadow:inset 3px 3px 3px rgba(0, 0, 0, 0.2) , 0px 0px 10px rgba(255, 0, 0, 1) ;
} 

/**
 * Dropdown
 * 
 */
.dropDown {
    list-style-type: none ;    
    margin: 0px ;
}
.dropDown li {
    min-width: 80px ;
}
.dropDown li p {
    padding: 0px ;
    margin: 0px ;
    float: left ;
}
.dropDown li .icon {
    float: right ;
    height: 10px ;
    margin-left: 5px ;
}
.dropDown li ul {
    position: absolute ;
    padding: 0px ;
    left: 3px ;
    top: 26px ;
    list-style-type: none ; 
    background: rgba(0,0,0,0.65);
    z-index: 400 ;
    -moz-border-radius: 0px 0px 5px 5px ;
    -webkit-border-radius: 0px 0px 5px 5px ;
    border-radius: 0 0 5px 5px;
}
.dropDown li ul li {
    padding: 10px ;
    background: none ;
    display: block ;
    min-width: 0px ;
}

.dropDown li ul li.focus {
    background: rgba(255,255,255,0.65);
}
.dropDown li ul li a {
    color: #fff ;
}
.dropDownHidden ul {
    display: none ;
}
.dropDownVisible ul {
    display: block ;
}
.clr  {
    clear: both ;
}