.popUp {
    position: absolute ;
    padding: 20px ;
    text-align: left ;
    border: 1px solid #aaa ;
    
    /*color is up to you, overlay png gives button a gradient*/
    
    /*style the cursor and text of the button*/
    color: #333;
    text-decoration: none;
    line-height: 1;
    
    /*add rounded corners in mozilla and webkit*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
    /*Add box shadows and a bottom border with rgba colors*/
    background: rgba(255,255,255, .75);
    background: -moz-linear-gradient(top, rgba(255,255,255, .75), rgba(250,250,250, .75));
    background: -webkit-gradient( linear, left top, left bottom, from( rgba(1255,255,255, .75) ), to( rgba(250,250,250, .75) ) );
    background: linear-gradient(top, rgba(255,255,255, .75), rgba(250,250,250, .75));
    filter: progid:DXImageTransform.Microsoft.Gradient( startColorStr='#ffffff', endColorStr='#dddddd', GradientType=0 );
     
     
}
.popUp p, .popUp form {
    display: block ;
    text-align: left ;
     font-size: 12px ;
     margin: 10px 10px 10px 10px;
     
     line-height: 1.5;
}
.popUpBg {
    top:0px ;
    left:0px ;
    position: absolute ;
    background: rgba(0,0,0,0.5) ;
}
.dubbeButton {
     /*color is up to you, overlay png gives button a gradient*/
     background: #333 url(alert-overlay.png) repeat-x;

     /*set up the layout just right*/
     display: inline-block;
     padding: 7px 15px 8px;
     position: relative;
     margin: 5px 5px ;

     /*style the cursor and text of the button*/
     color: #fff;
     text-decoration: none;
     line-height: 1;
     cursor: pointer;

     /*add rounded corners in mozilla and webkit*/
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;

     /*Add box shadows and a bottom border with rgba colors*/
     -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
     -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
     text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
     border-bottom: 1px solid rgba(0,0,0,0.25);
     
     color: #fff ;
     font-size: 10px ;
     font-weight: bold ;
     text-decoration: none ;
     
}
.dubbeButton:hover {
     top: 1px ;
     -moz-box-shadow: 0 1px 1px rgba(0,0,0,0);
     -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0);
}
.buttonLink {
    text-decoration: none ;
    border: 0px ;
}
.buttonContainer {
}
.buttonContainerLeft {
    float:left ;
}
.buttonConatinerRight {
    float:right ;
}
form ul li, form ul {
    list-style-type: none ;
    margin: 0px ;
    padding: 0px ;
}
label {
    color: #000 ;
    font-size: 10px ;
    font-weight: bold ;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    display:block ;
    text-align: left ;
}

input, textarea, select {

    width: 200px ;

     background: #fff url(alert-overlay.png) repeat-x;

     display: inline-block;
     padding: 7px 15px 8px;
     position: relative;
     margin: 5px ;
     
     border: 1px solid #aaa ;
    
    font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;

     color: #000;
     text-decoration: none;
     line-height: 1;

     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;

     text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}
textarea {
    height: 120px ;
}
option {
    padding: 50px 
}
input:focus, textarea:focus {
    outline: none ;
    -moz-box-shadow: 0 0 5px rgba(0, 255, 227, 0.5);
     -webkit-box-shadow: 0 0 5px rgba(0, 255, 227, 0.5);
}
*/
